# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\AARYARAJOJU\PROGRAMMING\projects.ar\TheSlidingPuzzle-AutoSolve\3x3 Sliding Puzzle - Auto Solve\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
